{% load static %}

<!doctype html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="{% static 'css/log_in_out.css' %}" />

        <title>Signup</title>
    </head>

    <body>
        <div class="continer">
            <div class="circle circle__blue"></div>

            <div class="circle circle__orange"></div>

            <form
                action="{% url 'accounts:signup' %}"
                class="form"
                method="post"
            >
                {% csrf_token %}

                <h1 class="titel">Signup Here</h1>

                {% if form.errors %}

                <div
                    style="
                        color: red;
                        margin-bottom: 15px;
                        text-align: center;
                        font-weight: bold;
                    "
                >
                    {{ form.errors }}
                </div>

                {% endif %}

                <div class="form__input">
                    <label class="form__label" for="email">
                        <b>Email</b>
                    </label>

                    <input
                        class="input"
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Enter your email"
                    />
                </div>

                <div class="form__input">
                    <label class="form__label" for="password">
                        <b>Password</b>
                    </label>

                    <input
                        class="input"
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Password"
                    />
                </div>

                <div class="form__input">
                    <label class="form__label" for="confirm_password">
                        <b>Confirm Password</b>
                    </label>

                    <input
                        class="input"
                        type="password"
                        name="confirm_password"
                        id="confirm_password"
                        placeholder="Confirm Password"
                    />
                </div>

                <p>
                    <a href="{% url 'accounts:login' %}"> Login </a>
                </p>

                <button class="submit" type="submit">Sign Up</button>
            </form>
        </div>
    </body>
</html>
