<h1> posts! </h1>
{% for post in posts %}

    <a href="{% url "blog:post_detail" pk=post.id %}">{{ post.title }}</a>
    <h4> post content : {{post.content}} </h4>

    {% endfor %}

{% for post in posts %}

{% endfor %}






<div class="pagination">

    {% if page_obj.has_previous %}
        <a href="?page=1">اول</a>
        <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
    {% endif %}

    
    <span>
        صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}
    </span>

    
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">آخر</a>
    {% endif %}

</div>

</div>