*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    background-color: #080710;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
input, button{
         font-family: inherit;
         border: none;
         outline: none;
}
.continer{
    width: 400px;
    position: relative;
}

.circle{
 width: 200px;
 height: 200px;
 border-radius: 100%;
 position: absolute;
 z-index: -1;
}

.circle__blue{
 background: linear-gradient(#0D47A1, #42A5F5);
 top: -80px;
 left: -80px;
}

.circle__orange{
 background: linear-gradient(#E65100,#ffa726);
 bottom: -90px;
 right: -60px;
}

.form{
 width: 100%;
 height: 100%;
 background-color: rgb(255, 255, 255, 0.13);
 color: white;
 padding: 50px 35px 35px 35px;
 border: 2px solid rgb(255, 255, 255, 0.13);
 border-radius: 10px;
 box-shadow: rgb(0,0,0,0.5);
 backdrop-filter: blur(10px);
}

.titel{
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
}

.form__input{
      margin-bottom: 28px;
}

.form__label{
       font-size: 16px;
}

.input{
    font-size: 14px;
    font-weight: 300;
    display: block;
    height: 50px;
    background-color: rgb(255,255,255,0.07);
    padding: 0 10px;
    width: 100%;
    margin-top: 10px;
    color: white;
    border-radius: 4px;
}

.input ::placeholder{
    color: #e5e5e5;
}

.submit{
background-color: white;
color: #080710;
border-radius: 4px;
text-align: center;
font-size: 18px;
padding: 15px;
display: block;
width: 100%;
margin-top: 46px;
font-weight: bold;
}